<div fxLayoutGap="10px" fxLayout="row">
    <button mat-raised-button color="primary" (click)="onAddRow()">Add Row</button>
    <button mat-raised-button color="primary" (click)="logAllForms()">Log All Rows</button>
</div>
<div fxLayout="column">
    <form [formGroup]="formRow" *ngFor="let formRow of formArray; let i = index" fxLayoutGap="10px" fxLayoutAlign="center center" fxLayout="row wrap">
        <span>{{i+1}}:</span>
        <mat-form-field appearance="fill">
            <mat-label>Enter your email</mat-label>
            <input matInput formControlName="email">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Enter your message</mat-label>
            <input matInput formControlName="message">
        </mat-form-field>

        <mat-slide-toggle formControlName="allowed">Slide me!</mat-slide-toggle>
        <app-sub-field [form]="formRow"></app-sub-field>
        <span>Valid: {{formRow.valid}}</span>
        <span>Dirty: {{formRow.dirty}}</span>
        <button mat-raised-button color="primary" (click)="removeRow(i)" [disabled]="formRow.get('allowed').value === false">Remove</button>
    </form>
</div>

<!-- <button mat-button color="primary" (click)="logRow(formRow)">Log Row</button> -->
<hr>
<div *ngFor="let formRow of formArray">
    <span>{{formRow.value | json }}</span>
</div>